{% extends 'base.html.twig' %}

{% block title %}Post a Question!{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}
{{form_start(formquest)}}
        <div class="row">
            <div class="col">
                {{form_row(formquest.Titre)}}
            </div>
            <div class="col">
                {{form_row(formquest.question)}}
            </div>
            <div class="col">
                {{form_row(formquest.Submit)}}
            </div>
            <div class="my-custom-class-for-errors">
                {{form_errors(formquest)}}
            </div>
        </div>
    {{form_end(formquest)}}
{% endblock %}
