{% extends 'base.html.twig' %}

{% block title %}Post a Question!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="style.css">

{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}
<div class="center">
<h1>New post</h1>
    {{form_start(formquest)}}
            <div class="txt">
                {{form_row(formquest.Titre)}}
            </div>
            <div class="txt">
                {{form_row(formquest.question,{ 'label': 'Description' })}}
            </div>
            <div class="txt">
                    <input type="submit" value="Register">
            </div>
            <div class="my-custom-class-for-errors">
                {{form_errors(formquest)}}
            </div>
    {{form_end(formquest)}}
    </div>
{% endblock %}
