{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="style.css">
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}
<div class="container">
<a href="{{path('logout')}}">logout</a>
<a href="{{path('createpost')}}">Add a new post</a>

{% for quest in quests %}
    <hr>
    <div>
        <div><b>{{quest.titre}}</b></div>
        <div>{{quest.question}}</div>
        <div class="small">{{quest.user.email}}</div>
    </div>
    <div>
        <form action="{{path('ViewDetails')}}" action="post">
            <input type="Hidden" name="quest" id="quest" value="{{quest.id}}">
            <label for="comment">More details:</label>
            <button type="submit">View discussion</button>
        </form>
    </div>
    
{% endfor %}
</div>
{% endblock %}