{% extends 'base.html.twig' %}

{% block title %}Sign in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="style.css">

{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}
    <div class="center">
    <h1>Create a new user</h1>
        {{form_start(formRegistration)}}
            <div class="">
                <div class="txt">
                    {{form_row(formRegistration.email)}}
                </div>
                <div class="txt">
                    {{form_row(formRegistration.password)}}
                </div>
                <div class="">
                    <input type="submit" value="Register">
                </div>
                <div class="signup_link">
                    Already have an account? <a href="{{path('login')}}">login</a>
                </div>
                <div class="my-custom-class-for-errors">
                    {{form_errors(formRegistration)}}
                </div>
            </div>
        </div>
    {{form_end(formRegistration)}}
{% endblock %}
